<% if notice %>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= notice %>
  </div>
<% end %>
<% if false%>
  <%= form_tag '/urls', remote: true, class: 'form-horizontal' do %>
    <div class="input-group">
      <%= text_field_tag :url, nil, class: 'form-control input-lg', placeholder: 'Paste a link to shorten', autocomplete: 'off' %>
      <span class="input-group-btn">
        <%= submit_tag :Shorten, class: 'btn btn-default btn-lg' %>
      </span>
    </div>
  <% end %>

  <div class="alert alert-success hidden" role="alert">
    Shorten URL: <a href="#" class="alert-link" target="_BLANK"></a>
    <button class="btn btn-default copy_link btn-xs">Copy</button>
  </div>
  <br>
<% end %>

<div class="row">
  <div class="col s12 m4">
    <h4>Minilinks</h4>
    <ul class="urls collection" style="max-height: calc(100vh - 257px); overflow-y: auto;">
      <%= render @urls %>
    </ul>
  </div>
  <div class="col s12 m8">
    <%= render 'form' %>
    <div class="inner">
    </div>
  </div>
</div>


