<% if notice %>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= notice %>
  </div>
<% end %>
<%= form_tag '/urls', remote: true, class: 'form-horizontal' do %>
  <div class="input-group">
    <%= text_field_tag :url, nil, class: 'form-control input-lg', placeholder: 'Paste a link to shorten', autocomplete: 'off' %>
    <span class="input-group-btn">
      <%= submit_tag :Shorten, class: 'btn btn-default btn-lg' %>
    </span>
  </div>
<% end %>

<div class="alert alert-success hidden" role="alert">
  Shorten URL: <a href="#" class="alert-link" target="_BLANK"></a>
  <button class="btn btn-default copy_link btn-xs">Copy</button>
</div>
<br>
<div class="panel panel-default">
  <div class="panel-heading">List of top 50 most used urls</div>
  <table class='table table-bordered'>
    <thead>
    <th>Url</th>
    <th>Shorten</th>
    <th>Hit</th>
    </thead>
    <tbody>
    <% @urls.each do |url| %>
        <tr>
          <td><%= url.url %></td>
          <td><%= link_to url.shorten_url.link(request.base_url), url.shorten_url.link(request.base_url), target: '_BLANK' %></td>
          <td><%= url.hit_count %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>


