<div class="navbar-fixed">
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper">
      <a id="logo-container" href="#" class="brand-logo">Minly</a>
      <ul id="dropdown1" class="dropdown-content">
        <li><%= link_to "Edit profile", edit_account_registration_path %></li>
        <li><%= link_to "Logout", destroy_account_session_path, method: :delete %></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <% if account_signed_in? %>
          <li><%= link_to 'Minilinks', urls_path %></li>
          <li><%= link_to 'Accounts', apps_path %></li>
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><%= current_account.email %><i class="material-icons right">arrow_drop_down</i></a></li>
        <% else %>
          <li><a href= <%= new_account_session_path %>>Login</a></li>
          <li><a href= <%= new_account_registration_path %>>Sign Up</a></li>
        <% end %>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <% if account_signed_in? %>
          <li><a><i class="material-icons">account_circle</i><%= current_account.email %></a></li>
          <li><%= link_to 'Minilinks', urls_path %></li>
          <li><%= link_to 'Accounts', apps_path %></li>
          <li><%= link_to "Edit profile", edit_account_registration_path, method: :delete %></li>
          <li><%= link_to "Logout", destroy_account_session_path, method: :delete %></li>
        <% else %>
          <li><a href= <%= new_account_session_path %>>Login</a></li>
          <li><a href= <%= new_account_registration_path %>>Sign Up</a></li>
        <% end %>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>

<script type="application/javascript">
  $(".dropdown-trigger").dropdown();
</script>