<%= form_for(@app, remote: true) do |f| %>
  <div class='row'>
    <div class='input-field col s12'>
      <%= f.text_field :name, class: 'validate' %>
      <%= f.label :name, 'Enter a name of app' %><br/>
    </div>
  </div>

  <div class='row'>
    <div class='input-field col s12'>
      <%= f.text_field :link, class: 'validate active' %>
      <%= f.label :link, 'Enter url of app' %><br/>
    </div>
  </div>

  <div class='row'>
    <div class='input-field col s12'>
      <%= f.text_area :description, class: 'materialize-textarea validate' %>
      <%= f.label :description, 'Enter small description of app' %><br/>
    </div>
  </div>

  <div class='row'>
    <div class='input-field col s12'>
      <%= f.text_field :redirect_uri, class: 'validate' %>
      <%= f.label :redirect_uri, 'Enter redirect link of app' %><br/>
    </div>
  </div>

  <div class='row center'>
    <%= f.submit "Save", class: 'btn waves-effect waves-light orange' %>
  </div>
<% end %>