<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @app.name %>
</p>

<p>
  <strong>Link:</strong>
  <%= @app.link %>
</p>

<p>
  <strong>Description:</strong>
  <%= @app.description %>
</p>

<p>
  <strong>Redirect uri:</strong>
  <%= @app.redirect_uri %>
</p>

<p>
  <strong>Secret:</strong>
  <%= @app.secret %>
</p>

<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %>
