<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Minly | Minilink Management</title>
    <%= stylesheet_link_tag 'devise', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'devise', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <%= render 'shared/nav' %>
    <main>
      <center>
        <%= yield %>
      </center>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>